
body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    background-image: url(../images/dark-triangles.png);
    background-size: cover;
}

.main-panel {
  margin-top: 12%;
  margin-bottom: 3%;
}
footer {
  margin-top: 5%;
}
}
.social {
  margin-right: 8%;
}

p {
    letter-spacing: .05em;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .row, .container, .fixed-bottom {
    margin-top: 8%;
    margin-bottom: 3%;
}
}